@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
h2 {
  position: relative;
  text-align: center;
  right: 1%;
 font-family: 'Merriweather', serif;
  font-size: 35px;
 }

#cross {
  position: relative;
    width: 5.3%;
  length: auto;
  left: 38%;
  bottom: -43px;
}

#heart {
  position: relative;
  width: 7%;
  length: auto;
  left: 56%;
 bottom: 50px;
  
}

#foodimage {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  width: 40%;
  length: auto;
  bottom: 5px;
}