#mylist{
  background-color: #c0dfd9;
  margin-top: 0;
  padding-bottom: 1%;
  padding-right: 50%;
  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  border-radius: 3%;
  text-align: center;
  font-size: 2em;
  z-index: 2;
  
}


a:link{
  text-decoration: none;
  color: white;
}

a:hover{
  color: blue;
}

#shrek{
  position: relative;
 margin-top: 12%;
  left: 43%;
}

h1{
  text-align: center;
}


body{
  margin: 0;
  background-color: #e9ece5;
}

#home{
 position: relative;
  right: 37%;
}

#favs{
  position: relative;
  left: 30%;
}

#uploads{
  position: relative;
  left: 27%;
}


#logo{
  width: 2.6%;
  position: fixed;
  left: 49%;
  top: 0%;
  z-index: 2;
}