@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
#mylist{
  background-color: #c0dfd9;
  margin-top: 0;
  padding-bottom: 1%;
  padding-right: 50%;
  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  border-radius: 3%;
  text-align: center;
  font-size: 2em;
  font-family: 'Merriweather', serif;
  color: #f75b5b;
  z-index: 2;
  
}


a:link{
  text-decoration: none;
  color: #f75b5b;

}

a:hover{
  color: white;
}

#shrek{
  position: relative;
 margin-top: 12%;
  left: 43%;
}

h1{
  text-align: center;
    color: #f75b5b;
    font-family: 'Merriweather', serif;
}


body{
  margin: 0;
  background-color: #e9ece5;
}

#home{
 position: relative;
  right: 37%;
}

#favs{
  position: relative;
  left: 30%;
}

#uploads{
  position: relative;
  left: 27%;
}


#logo{
  width: 2.6%;
  position: fixed;
  left: 49%;
  top: 0%;
  z-index: 2;
}
h3{
  color: #f75b5b;
    font-family: 'Merriweather', serif;
}

