<!DOCTYPE html>
<html>
<!--   <head> -->
<!--     <meta charset="UTF-8"> -->
<!--     <link rel="stylesheet" type="text/css" href="css/style.css"> -->
<!--     <title>Campfire</title> -->
<!--   </head> -->

  <body>
    <h1><a href="/" id="main">Campfire</a></h1>
    <h2>slogan</h2>
   
<h3>    <form method="POST" action="/newrecipe">
  <h3> Title </h3><br>
    <textarea type="text" name="title" placeholder="Title" class="enlargeinput" rows="1" cols="50"></textarea> <br>
    <h3> Ingredients </h3><br>
    <textarea type="text" name="ingredients" placeholder= "Ingredients" class="enlargeinput" rows="20" cols="50"></textarea> <br>
    <h3> Recipe Instructions </h3><br>
    <textarea type="text" name="recipe" placeholder= "Recipe Instructions" class="enlargeparagraph" rows="20" cols="50" ></textarea>
 <br>
<!--     <h3>Genre:</h3>
    <input type="radio" name="genre" value= "Classic" checked >Classic <br>
<input type="radio" name="genre" value= "Fiction" checked > Fiction <br>
    <input type="radio" name="genre" value= "Nonfiction" checked >Nonfiction <br>
    <input type="radio" name="genre" value= "Young Adult" checked >Young Adult <br> -->
    <h3> Image URL </h3><br>
    <textarea type="text" name="imagelink" placeholder= "Image URL" class="enlargeinput" rows="1" cols="50"></textarea> <br>
<!--     <h3> Amazon Link </h3><br>
    <input type="text" name="amazonlink" placeholder= "Amazon Link" class="enlargeinput"> <br><br> -->
    <input type="submit" id= "submit">
  </form> </h3>
<!--     <p>
<!-- <%=@random_title%>
    </p>
    <div id="button1">
    <form method="POST">
          <input type="submit" value="Next Book" id="submit">
    </form>
    </div>
   
    <div id="button2">
    <form method"POST" action="/reveal_book">
      <input type="submit" value="Reveal Book" id="submit">
<input type="hidden" name="text" value="<%=@random_title%>">
    </form>
    </div> -->
    <br><br>
  </body>
</html>