<!DOCTYPE html>
<html>
 <head>
  <title>Food.Finder</title>
 </head>
 <body>
   <h1>3 Ingredient Pancakes</h1>
   <img id="pancakes" src="http://paleonewbie.com/wp-content/uploads/2014/09/PaleoNewbie-Apple-Banana-Cinnamon-Pancakes-3-1266x850.jpg">
   
   <INPUT TYPE="image" SRC="http://www.dingle.fi/wp-content/uploads/2014/03/tinder_cross.png" ALT="SUBMIT" id="cross"/>
  <INPUT TYPE="image" SRC="http://www.gotinder.com/images/icons/heart@2x.png" ALT="SUBMIT" id="heart"/>
  
 </body>
</html>


