<% if session[:user_id] %> <!--checks if user is logged in already -->
<form method="POST" action="/logout">
  <input type="submit" value="Logout">
  
<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="css/find-food.css">
  <title>Food.Finder</title>
 </head>
   <nav>
     <ul id="mylist">
       <a href="/">Home</a>
       <a href="/mylist">My List</a>
 
         
     </ul>
   </nav>
 <body>
   <a href="/mylist">My List</a>
   <% @post=Post.all.sample %>
   <h2><%=@post.title %></h2>
   <img id="foodimage" src="<%= @post.image %>">
   
   <a href='/findfood'><INPUT TYPE="image" SRC="http://www.dingle.fi/wp-content/uploads/2014/03/tinder_cross.png" ALT="SUBMIT" id="cross"/></a>
   <form method="POST" action="/like">
     <input type="hidden" name="postid" value="<%= @post.id %>">
     <input type="hidden" name="userid" value="<%= session[:user_id].id %>">
  <INPUT TYPE="image" SRC="https://dxuu1kmv6dm3n.cloudfront.net/v7/img/heart.png" ALT="SUBMIT" id="heart"/>
     
   </form>
  
 </body>
</html>


