<!doctype html>
<html>
  <head>
    <title>FoodFinder</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
      <nav>
        <a href="/mylist">My List</a>
      </nav>


        <%= yield %>

      <footer>
        
      </footer>
  </body>
</html>