<!DOCTYPE html>
<html>
 <head>

   <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <title>title</title>
   <div>
   <nav>
     <ul id="mylist">
       <a href="/">Home</a>
       <a href="/uploads">My uploads</a>
       <a href="/favorites">Favorites</a>
         
     </ul>
   </nav>
   </div>
 </head>
 <body>
   
  
      
   <a href="recipe.erb"><img id="shrek" src="http://vignette4.wikia.nocookie.net/shrek/images/8/87/Shrek_fierce.jpg/revision/latest?cb=20100604223615"></a>
   <h1>lol</h1>
 </body>
</html>