<!DOCTYPE html>
<html>
 <head>

   <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <title>title</title>
   <div>
   <nav>
     <ul id="mylist">
       <a id="home" href="/">Home</a>
      
         <a id="uploads" href="/uploads">My uploads</a>
       <a id="favs" href="/mylist">Favorites</a>
         
     </ul>
   </nav>
   </div>
 </head>
 <body>
   <div>
      <img id="logo" src="http://images.clipartpanda.com/campfire-20clipart-campfire-no-shadow-md.png">
   </div>
   
   
      
   <a href="recipe.erb"><img id="shrek" src="http://vignette4.wikia.nocookie.net/shrek/images/8/87/Shrek_fierce.jpg/revision/latest?cb=20100604223615"></a>
   <h1>lol</h1>
   <div>
     <%= @recipe %>
     

   </div>
 </body>
</html>