 <form method="POST" action="/signup">
   <input type="text" name="name" placeholder="Name">
   <input type="text" name="username" placeholder="Username">
   <input type="text" name="email" placeholder="Email">
   <input type="password" name="password" placeholder="Password">
   <input type="text" name="password_confirmation" placeholder="Confirm Password">
   <input type="submit">
 </form>